html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clear float */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }
 

/* mulai dari sini */

body { 
    background-image: url(ruri.jpg);
    background-size: cover;
}

.header {
    background-color: #1aa2cc7c ;
    border-bottom: lightseagreen 5px solid ;
    padding-bottom: 10px ;
}

.logo {
    float : left ;
}
.logo h1 {
 font-size: 40px ;
 font-family : Arial ;
 padding : 30px 30px 30px 10px ;

}

.logo a {
    text-decoration: none ;
    color : black ;
}

.link ul li {
    float: right  ;
    display : inline-block ;
    margin-right : 150px ;
    margin-top : 50px ;
    
}

.link a {
    text-decoration: none ;
    color : black ;
    font-size: 25px ;
}

.link a:hover {
    text-decoration: underline  green 3px ;

}

.container {
    width : 900px ;
    background-color: whitesmoke ;
    margin : auto ;
}
.main {
    float : left ;
    width : 600px ;
}
.main h1 {
    font-size : 45px ;
    font-family : arial ;
    padding: 20px ;
    font-weight: bold ;
    padding-left: 15px ;;
}

.main img {
    width : 300px ;
    height : 300px ;
    padding-bottom : 10px ;
    padding-left: 220px ;
}

.tanggal p {
font-size : 15px ;
padding : 15px ;
font-family: Arial ;
}

.tanggal a {
    font-family: Arial ;
    text-decoration : none ;
    color : black ;
}

.main h4 {
 padding-left : 15px ;
 padding-right : 15px ;
 padding-bottom : 10px ;
 text-align: justify ;
 font-family : arial ;
}

.sidebar {
    float : left ;
    margin-top : 20px ;
    padding-left : 5px ;
}

.biodata {
  padding : 10px ;
  border: orangered solid 1px;
}

.biodata h3 {
    font-family: 'Times New Roman';
    font-size: 23px ;
    font-weight : bold ;
    text-align: center ;
}

.biodata p {
    font-family: 'Times New Roman';
    font-size: 16px ;
    text-align: center ;
    padding-top : 5px ;
}

.slide {
    padding : 16px ;
    margin-top : 30px ;
    border: orangered solid 1px ;
}

.slide {
    position : sticky ;
        position: sticky;
        top: 0;
}
.copyright {
    background-color : blue ;
    text-align: center ;
}

.copyright h2 {
    font-weight: bold ;
    font-family : arial ;
    font-size : 20px ;
}
